.u-section-1 .u-sheet-1 {
  min-height: 188px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 20px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 301px;
}

.u-section-2 .u-text-1 {
  margin: 33px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  width: 805px;
  margin: 22px auto 32px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  min-height: 318px;
}

.u-section-3 .u-sheet-1 {
  min-height: 460px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 458px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-group-elements-1 {
  min-height: 214px;
  width: 450px;
  margin: 0 auto;
}

.u-section-3 .u-group-elements-2 {
  min-height: 195px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
  margin: -21px auto 0;
  padding: 7px 30px 8px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 458px;
  filter: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-image-1 {
  filter: none;
  margin-bottom: 0;
  margin-top: 0;
  height: 398px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-3 .u-group-elements-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 378px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .u-section-3 .u-image-1 {
    height: 310px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 66px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 290px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 266px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 461px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 274px;
  }

  .u-section-3 .u-image-1 {
    height: 284px;
  }
}